//SCSS COLOR VARIABLES//
//TO ACCESS, use  map-get($colors-primary, 500)   //
// Larger number = Darker shade,  Smaller number = Lighter shade  //
$colors-neutral: (
  500: #424242,
  400: #9F9F9F,
  300: #D9D9D9,
  200: #F1F1F1,
  100: #FFFFFF
);
$colors-primary: (
  500: #33363F,
  400: #3E465F,
  300: #525E83,
  200: #6D7489,
  100: #858B9C);
$colors-green: (
  300: #1F6B4C,
  200: #3DD598,
  100: #D4F5E9
);
$colors-red: (
  300: #802C30,
  200: #FF575F,
  100: #FFE5E7
);

@keyframes button-hover{
  0% {
    transform: translateY(0);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  }
  100%{
    transform: translateY(-2px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@keyframes blur-in{
  0% { opacity: 0%;}
  100%{ opacity: 25%;}
}

@keyframes loading-wait{
  0% { opacity: 0%;}
  100%{ opacity: 100%;}
}

#loading-main-container{
  animation: loading-wait 2s forwards;
}

#loading-content-container{
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  #loading-logo{
    animation: spin 2s .5s infinite both;
  }

}

#blur-main-container{
  position: absolute;
  background-color: gray;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  margin: 0px 0px 0px 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($colors-neutral, 300);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($colors-neutral, 500); 
  border-radius: 10px;
}



svg{
  display: block;
}

.main-navbar-container{
  position:fixed;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: map-get($colors-primary, 500);
  display: flex;
  flex-direction: column;
  z-index: 2;

  .logo-container{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 14px;
  }

  .icon-container{
    max-width: 100%;
    min-height: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 25px 10px 25px;
      text-decoration: none;
    }
    
    &:hover{
      background-color: map-get($colors-neutral, 100);
      
      span{
        color: map-get($colors-primary, 500);
        transform: scale(1.15);
      }
      svg{
        fill: map-get($colors-primary, 500);
        transform: scale(1.15);
      }
    }

    span{
      color:  map-get($colors-neutral, 100);
      margin-top: 5px;
      font-size: 12px;
      transition: transform .2s;
    }

    svg{
      width: 100%;
      fill: map-get($colors-neutral, 100);
      transition: transform .2s;
    }
  }

}

#main-header-container{
  background-color: map-get($colors-primary, 500);
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  

  #page-text-container{
    margin: auto;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    color: map-get($colors-neutral, 100);

    #main{
      font-size: 40px;
      font-weight: 700;
    }

    #sub{
      font-size: 30px;
    }
  }


  #user-container{
    float:right;
    margin: auto;
    margin-right: 40px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    gap: 20px;

    #text{
      color: map-get($colors-neutral, 100);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    }
  }


#main-container{
  padding-left: 100px;
  padding-top: 120px;
  min-width: calc(100% - 100px);
  z-index: 1;
}

.red-button-container{
  border: none;
  border-radius: 10px;
  background-color: map-get($colors-red, 200);
  min-height: 60px;
  min-width: 150px;
  display: inline;
  margin-left: 15px;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }

}

.green-button-container{
  border: none;
  border-radius: 10px;
  background-color: map-get($colors-green, 200);
  min-height: 60px;
  min-width: 150px;
  margin-left: 15px;
  display: inline;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}

.gray-button-container{
  border: none;
  border-radius: 15px;
  background-color: map-get($colors-neutral, 400);
  min-height: 60px;
  min-width: 150px;
  display: inline;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}

.gray-button-container1 {
  border: none;
  border-radius: 15px;
  background-color: map-get($colors-neutral, 400);
  min-height: 60px;
  min-width: 900px;
  display: inline;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}


.main-container-bg{
    border: 5px;
    border-radius: 15px;
    background-color: #E6E6E6;
    width: 100%;
    height: 100%;
}

.top-notification-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  top: 30px;
  left: calc(50% - 150px);
  width: 400px;
  height: 80px;
  border-radius: 15px;
  padding: 10px;
  background-color: map-get($colors-neutral, 100);
  border: 4px solid map-get($colors-neutral, 500);
  z-index: 100;
}

.user-modal-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  width: 600px;
  height: 300px;
  position: fixed;
  top: calc(50% - 215px);
  left: calc(50% - 315px);
  border-radius: 15px;
  padding: 30px;
  background-color: map-get($colors-neutral, 100);
  border: 4px solid map-get($colors-neutral, 500);
  border-radius: 15px;
  z-index: 100;

  .user-modal-exit-button-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .user-modal-exit-button {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    color: map-get($colors-neutral, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($colors-red, 200);
    height: 35px;
    width: 35px;
  }

  .user-modal-text-container{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .user-modal-button-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: auto;
  }
}

.user-main-container{
  display: flex;

  .user-left-container{
    padding-left: 30px;
    padding-top: 40px;
    float: left;

    .user-list-container{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 50px;
      min-height: calc(100vh - 300px);
      height: calc(100vh - 250px);
      width: calc(50vw - 100px);
      min-width: 500px;
      overflow-y: scroll;
      gap: 15px;
    }
  }

  .user-right-container{
    float: right;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-create-main-container{
      display: flex;
      flex-direction: column;
      background-color: map-get($colors-neutral, 300);
      margin: 30px;
      border-radius: 10px;
      min-height: 60vh;
      width: 100%;
      padding: 0px 40px 20px 40px;
      gap: 5px;

      h1{
        font-weight: 700;
        font-size: 30px;
      }

      label{
        margin-top: 20px;
      }

      input{
          font-size: 25px;
          border-radius: 10px;
          padding: 8px;
          width: 450px;
      }

      select{
        margin-bottom: 20px;
      }

      .user-create-error{
        color: map-get($colors-red,200);
        font-size: 18px;
      }
    }
  }

  .user-create-button-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;

    .horizontal-container{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.user-create-top-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.user-create-exit-button{
  background-color: map-get($colors-red,200);
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  margin-top: 10px;
  
  &:hover{
    animation: button-hover 0.2s ease-in-out forwards;
  }
}

.required-mark{
  color: map-get($colors-red, 200);
}

  .sort-dropdown-container{
    display: inline;
  }

.user-card-main-container{
  border-radius: 10px;
  max-width: 40vw;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: map-get($colors-neutral, 300);

  .text-container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .buttons-container{
    display: flex;
    gap: 20px;

    .edit-button{
      width: 40px;
      cursor: pointer;
      transition: transform .2s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.toggle-switch-main-container-enabled{
  background-color: map-get($colors-green, 200);
  height: 40px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  cursor: pointer;
  
  svg{
    width: 25px;
    margin-right: calc(50% - 33px);
  }
}

.toggle-switch-main-container-disabled{
  background-color: map-get($colors-red, 200);
  height: 40px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  cursor: pointer;

  svg{
    width: 19px;
    margin-left: calc(50% - 33px);
  }
}

.toggle-switch-handle{
  border-radius: 50%;
  height: 100%;
  width: 40px;
  background-color: map-get($colors-neutral,100);
}

.search-bar{
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 450px;
  margin-left: 35px;
}

.search-bar-modal{
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 400px;
  margin: auto;
}

.sort-dropdown{
  background-color: map-get($colors-primary, 500);
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  color: white;
  display: inline;
  width: fit-content;
  border: 2px solid map-get($colors-neutral, 500);

  &#role-filter{
    background-color: map-get($colors-neutral, 100);
    color: map-get($colors-neutral, 500);
    margin-left: 20px;
  }

  &#user-create-role{
    background-color: map-get($colors-neutral, 100);
    color: map-get($colors-neutral, 500);
  }

  &#item-category-filter{
    background-color: map-get($colors-neutral, 100);
    color: map-get($colors-neutral, 500);
    width: 450px;
    margin-left: 27px;
  }
}

.sort-container{
  padding-left: 10px;
}

.add-button{
  background-color: map-get($colors-green, 200);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-color: map-get($colors-green, 200);
  padding: 8px;
  margin-right: 35px;
  display: inline;
  float: right;

  a{
    text-decoration: none;
    color: white;
  }
  
  &:hover{
    animation: button-hover 0.2s ease-in-out forwards;
  }
}

.add-button-modal{
    width: 80%;
    margin: auto;
}
#ctable {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  font-size: 18px;
  border-radius:6px;
}

#ctable td, #ctable th {
  border: 1px solid #312F30;
  padding: 8px;
  
}

#btable {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  font-size: 18px;
  cursor: pointer;

}

#btable td, #btable th {
  border: 1px solid #312F30;
  padding: 8px;
  
}

#btable tr:nth-child(even){background-color: #f2f2f2;}

.btable_tr{
  border-radius: 10px;
}
#btable tr:hover {background-color: #ddd;}

#btable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #312F30;
  color: white;
}

#btable td {
  text-align: center;
}

.form-labels{
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 450px;
  margin-left: 25px;
}
.form-container{
  display: grid;
  grid-template-columns: repeat(3, 450px);
}
.form-item{
  grid-column: span 1;

  select {
    width: 420px;
    font-size: 25px;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid map-get($colors-neutral, 500);
  }
  .form-buttons{
    margin-bottom: 200px;
  }
}

.form-item-buttons{
  margin-left: 120px;
  grid-column: 3;
}
.form-fields{
  font-size: 25px;
  border-radius: 5px;
  padding: 8px;
  width: 400px;
  margin-left: 35px;
  margin-top: 10px;
}
.form-fields-remarks{
  font-size: 25px;
  border-radius: 5px;
  padding: 8px;
  width: 1700px;
  height: 200px;
  margin-left: 35px;
  margin-top: 10px;
}
.cancel-header{
  font-size: 32px;
  text-align: center;
}
.select-form{
  font-size: 25px;
  border-radius: 5px;
  padding: 8px;
  width: 400px;
  margin-left: 35px;
  margin-top: 10px;

    &.select-form:invalid, &.select-form option[value=""]{
    color: map-get($colors-neutral, 500);
    opacity: 80%;
  }

     &.select-form:disabled{
    color: black;
    background-color: map-get($colors-neutral, 200);
    border-color: map-get($colors-neutral, 400);
  }

}
.pop-up-buttons{
  margin: auto;
  display: inline-block;
}
.page-buttons{
 font-size: 18px;
 margin: auto;
 display: inline-block;
}

.navigate-page-group{
  margin: auto;
  margin-bottom: 10px;
}
.form-toggle{
 margin-top: 10px;
 margin-left:50px;
}
.required{
  color: map-get($colors-red, 200);

  .required:disabled{
    opacity: 0%;
  }
}

hr{
  background-color: 10px map-get($colors-neutral, 500);
  width: 98%;
}

//SIGN IN CSS

.signin-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.label-cont {
  width: 200px;
  height: 35px;
  text-align: right;
}

.login-size {
  max-width: 284px;  
  max-height: 72px;
}


a {
  text-decoration: none;
}

// ITEMS CSS

.item-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &.item-modal-header {
    padding: 0 5px;
    
  }

  &.item-modal-header-center {
    margin: auto;
  }

  &.item-table-header {
    padding-top: 30px;

    .item-table-left-container{
      display: flex;
    }
  }
}

.item-label-with-buttons {
  padding-right: 2%;
  justify-content: left;
  margin-bottom: 10px;
}

.item-column-container {
  display: flex;
  flex-direction: column;
}

.item-icon-button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: map-get($colors-neutral, 100);

  &.item-x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($colors-red, 200);
    height: 35px;
    width: 35px;

  }
  
  &.item-add-option-button {
    display: inline;
    background-color: transparent;
    color: map-get($colors-neutral, 500);
    font-size: 20px;
    height: 20px;
    width: 20px;
    transform: scale(-1, 1);
    text-decoration: underline;
    margin-left: 10px;
  }
  
  &.item-info-option-button {
    display: inline;
    background-color: black;
    height: 20px;
    width: 20px;
    font-weight: bold;
    
  }
}

#item-add-main-container {
  padding: 5px 15px;
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
}

.item-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    margin: 0 0 10px 0;
  }

  select {
    width: 370px;
  }

  input {
    font-size: 25px;
    border-radius: 10px;
    padding: 8px;
    width: 350px;
  }
}
.modal{
  background-color: transparent;
    transform: translate(20%, -5%);
}

.item-modal-bg {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.user-edit-result-container{
  position: absolute;
  margin-top: calc(50% - 600px);
  margin-left: calc(50% - 600px);
  height: 300px;
  width: 600px;
  border: 4px solid map-get($colors-neutral, 500);
  background-color: map-get($colors-neutral, 100);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.item-modal {
  display: flex;
  flex-direction: column;
  background-color: map-get($colors-neutral, 100);
  margin: 10% 10% auto; 
  padding: 15px;
  border: 4px solid map-get($colors-neutral, 500);
  border-radius: 15px;
  width: 500px;
  
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 0;
  }

  h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 0;
  }

  input {
    margin: 5px 0;
    width: 95%;
  }
}

#add-item-form-identification {
  display: flex;
  flex-direction: column;
  padding: 8px;

  .form-container {
    display: flex;
    gap: 15px;
  }
}

#add-item-form-details {
  display: flex;
  padding: 8px;

  .details-left-container {
    display: flex;
    flex-direction: column;

    button {
      margin: 0;
      min-height: 10px;
      width: 100%;
      margin-top: 15px;
    }
  }

  .details-right-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: map-get($colors-neutral, 400)
    
  }
}

.item-footer {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

.vehicle-icon-button {

  cursor: pointer;
  color: map-get($colors-neutral, 500);
  font-size: 20px;
  background-color: transparent;
  border: transparent;

  
  &.vehicle-add-option-button {
    transform: scale(-1, 1);
    text-decoration: underline;
    display: inline;
    height: 20px;
    width: 20px;
  }
  &.vehicle-icon-button:disabled{
    opacity: 0%
  }
  
}

.login-error{
  color: map-get($colors-red,200);
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.page-input{
  border-radius: 5px;
  size: 30;
}

.navigate-page{
  font-size: 25px;
  background-color: transparent;
  border: transparent;
  text-align: center;

  &.navigate-page:hover:enabled{
    opacity: 30%;
  }
}

// Tabs.js

.bloc-tabs {
  display: flex;
}

.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  // background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  //box-sizing: content-box;
  // position: relative;
  outline: none;
}


.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

button {
  border: none;
  font-family: Inter;
  font-weight:bold;
  font-size:30px;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
  padding: 0;
}

.label-format{
  color:map-get($colors-neutral, 500);
  font-size: 12px;
}

.vehicle-create-error{
  color:map-get($colors-red, 200);
  font-size: 16px;
  margin-left: 35px;
  text-align: justify;
}

input:disabled+label {
  opacity: 0px;
}

.vehiclecat-create-error{
  color:map-get($colors-red, 200);
  font-size: 16px;
  margin-left: 5px;
  text-align: justify;
}